// Reset and Clearfix

// Variables

$orange: #F15523;
$dark: #333333;
$light: #FFFFFF;

// Media Query Ranges

// Mixins

// Styles

.clear {
  clear: both;
}

h1, h2, h3, h4 {
  font-family: 'montserrat'; //temporary
  color: $orange;
}

h1 {
  font-size: 2rem;
}

.nav {
  text-align: center;
  margin-bottom: 1em;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.scroll-content {
  background-color: $dark;
}

.nav-dark {
  background-color: $dark !important;
}

.orangeify-text {
  color: $orange !important;
}

.title {
  color: $orange !important;
}

.buttons-right span, .back-text {
  color: $orange !important;
}

.button-orange {
  background-color: $orange;
  color: $light;
  border-color: transparent;
  font-family: 'montserrat';

}

.back-button i {
  color: $orange !important;
}

.float {
  float: left;
}

.starving {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.top-text {
  font-size: 1rem;
  line-height: 2.1;
  margin-left: .5em;
  margin-top: 0;
  margin-bottom: 0;
}


//Front Page

.action p {
  text-align: center;
  color: $orange;
  font-family: 'montserrat';
  font-weight: bold;

}

.action {
  width: 12em;
  background-color: transparent;
  border-color: transparent;
}

// Map Stuff

#map_canvas, #venue_directions {
  height: 300px;
  position: relative;
}

.front-map, .front-map .angular-google-map-container {
  height: 22em;
}

.small-map, .small-map .angular-google-map-container {
  height: 12em !important;
}

.angular-google-map-container {
  width: 100%; //Origin: 600px
  height: 12em;
}

.panel-primary {
  padding: 20px;
  width: 600px;
  margin-bottom: 40px;
}

//Fetch Styles

.duration-text {
  float: right;
  color: $orange;
  font-size: .8rem;
}

.venue-img {
  width: 100%;
  height: 40em;
  overflow: hidden;
  position: relative;
}

.venue-img img {
  width: 100%;
  position: relative;
}

.item-img-box {
  height: 20em;
  background-size: cover;
  background-position: center;
}

//Help Me

//Results

.no-padding {
  padding: 0;
}