<ion-view view-title="Eat This">
  <ion-nav-buttons side="secondary">
    <div class="button button-clear" ng-click="openModal()"><span class="icon ion-search"></span></div>
  </ion-nav-buttons>
  <ion-content class="padding">

    <button class="button button-full button-positive" ui-sref="fetch">
      Fetch
   </button>
   <button class="button button-full button-positive" ui-sref="help-me">
      Help Me
   </button>

  <div id="map_canvas">
    <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
      <ui-gmap-markers models="markers" coords="'self'" fit="true">
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>

  </ion-content>
</ion-view>