<ion-view view-title="Fetch">
  <ion-content>
    <div ng-show="position">
      <div id="map_canvas">
        <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
        </ui-gmap-google-map>
      </div>
    <div class="card" on-swipe-left="getVenue(venues)" on-swipe-right="displayVenue(currentVenue)">
      <div class="item item-divider">
        {{ currentVenue.name }}
      </div>

      <div class="item item-image item-img-box" style="background-image: url({{currentVenue.image_url}});">
      </div>

      <div class="item item-text-wrap">
        {{ currentVenue.snippet_text }}
      </div>
    </div>
  </ion-content>
</ion-view>


