<ion-view view-title="Fetch">
  <ion-content class="padding">
    <h1>This is Fetch!</h1>

    <div ng-show="position">
      <h3>Your Coordinates: {{ latitude }}, {{ longitude }}</h3>

      <div id="map_canvas">
        <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
          <ui-gmap-markers models="markers" coords="'self'" fit="true">
          </ui-gmap-markers>
    <!--       <ui-gmap-polyline path="path.path" stroke="path.stroke" visible="path.visible">
          </ui-gmap-polyline> -->
        </ui-gmap-google-map>
      </div>

      <h2>Travel Time: {{ distance }} away, {{ travelTime }} by car</h2>

      <div ng-swipe-left="getVenue(venues)" ng-swipe-right="displayVenue(currentVenue)">
        <h1>{{currentVenue.name}}</h1>
        <div class="venue-wimg">
          <img ng-src="{{ currentVenue.image_url }}" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>


