<ion-view view-title="Fetch">
  <ion-content>
    <h1>This is Fetch!</h1>

    <div ng-show="position">

      <h2>Travel Time: {{ distance }} away, {{ travelTime }} by car</h2>

    <div class="card" on-swipe-left="getVenue(venues)" on-swipe-right="displayVenue(currentVenue)">
      <div class="item item-divider">
        <h1>{{currentVenue.name}}</h1>
      </div>

      <div id="map_canvas">
        <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
          <ui-gmap-markers models="markers" coords="'self'" fit="true">
          </ui-gmap-markers>
    <!--       <ui-gmap-polyline path="path.path" stroke="path.stroke" visible="path.visible">
          </ui-gmap-polyline> -->
        </ui-gmap-google-map>
      </div>

      <div class="item item-image">
        <img ng-src="{{ currentVenue.image_url }}" />
      </div>
    </div>
  </ion-content>
</ion-view>


