<ion-view view-title="Help Me">
  <ion-content class="padding">
    <h1>This is Help Me!</h1>

      <div class="card" on-swipe-left="getCategories" on-swipe-right="displayCategory(foodCategories)">

        <div class="item item-divider">
          {{ foodCategories }}
        </div>

        <div class="item item-image item-img-box" style="background-image: url({{ foodCategories.primary_image }});"></div>

        <div class="item item-text-wrap">
          {{ byline }}
          {{ res }}
        </div>
      </div>

  </ion-content>
</ion-view>