<ion-modal-view>

  <ion-header-bar class="nav-dark">
    <img class="float" src="img/orange-gear.svg">
    <h1 class="title">Set Your Location</h1>

    <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close orangeify-text"></span></div>
  </ion-header-bar>

    <ion-content class="padding wrapper" scroll="false">
      <div class="set-location">
        <form ng-submit="submit()">
          <div class="list list-inset" ng-submit="submit()">
            <label class="item item-input">
              <input type="text" g-places-autocomplete force-selection="true" ng-model="locationModal.setLocation" placeholder="Enter any location">
            </label>
          </div>
          <button class="button button-full button-orange" type="submit">Submit</button>
        </form>

        <button class="button button-full" ng-click="closeModal()">CLOSE</button>

       <h5>Result:</h5>
       <pre>{{locationModal.setLocation | json}}</pre>

      </div>

    </ion-content>

</ion-modal-view>


